<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../assets/img/australia.jpg" class="aus_image">
        </div>
        <div class="col-lg-6">
            <div class="australiaBox">
                <h4 style="text-align: center"> <a (click)="showAusWork()">Work</a> &nbsp; &nbsp; &nbsp;<a
                        (click)="showAusTravel()">Travel</a> </h4>

                <div id="australiaWork">
                    <ul>
                            <h5>Chef</h5>
                        <p>During my three and a half years in Melboune, Australia I worked predominently as a chef in
                            different kitchens. I was self trained and had no formal training before I began in the Wee
                            Chief, St Kilda. I have since worked in many kitchens both in Australia and Ireland. I
                            learnt many skills during this time.</p>
                        <li>Working under pressure</li>
                        <li>Learning fast</li>
                        <li>Addapting to changing environments</li>
                        <li>Self training and discipline</li>
                    </ul>
                    <div id="adminWorkAus">
                        <ul>
                                <h5>Administration</h5>
                            <p>I also working in different administration positions in Melbourne, from temp reception
                                work to administration coordinator roles. This also helped me gain many valuable skills.
                            </p>
                            <li>Organisational skills</li>
                            <li>Professionalism</li>
                            <li>Communication Skills</li>
                        </ul>
                    </div>
                </div>

                <div id="australiaTravel">
                    <ul>
                        <li>Thailand</li>
                        <li>Indonesia</li>
                        <li>Queensland, Australia</li>
                        <li>New South Wales, Ausltrali</li>
                        <li>Victoria, Australia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>