<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../assets/img/projectFront_mini.jpg" class="image">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/orderScreen.PNG" class="image5">
                </div>
                <div class="col-sm-6">
                    <img src="../assets/img/welcomeScreen.PNG" class="image6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/accountScreen.PNG" class="image7">
                </div>
                <div class="col-sm-6">
                    <img src="../assets/img/optionScreen.PNG" class="image8">
                </div>
            </div>
        </div>
    </div>
    <div class="row row1">
        <hr>
    </div>
    <div class="row row2">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/sogeti_home.png" class="image5">
                </div>
                <div class="col-sm-6">
                    <img src="../assets/img/sogeti_question.png" class="image6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/sogeti_user.png" class="image7">
                </div>
                <div class="col-sm-6">
                    <img src="../assets/img/sogeti_questionPool.png" class="image8">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="../assets/img/pen_table.jpg" class="image">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h3>Current Projects</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-5">
            <a (click)="showRachelVid()"><img src="../assets/img/styled_by_rachel_cover.png" id="rachel_cover"></a>
            <div id="styled_by_rachel_vid">
                <video class="video-fluid" controls="true">
                    <source src="../assets/img/styled_by_rachel.mov" type="video/mp4" />
                </video>
            </div>
        </div>
        <div class="col-lg-5">
            <a (click)="showTempoVid()"><img src="../assets/img/tempo_antiques_cover.png" id="tempo_cover"></a>
            <div id="tempo_antiques_vid">
                <video class="video-fluid" controls="true">
                    <source src="../assets/img/tempo_antiques_vid.mov" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>