/* .snapshot1{
    margin-left: 1%;
    height: 30vh;
}
.snapshot2{
    margin-left: 1%;
    height: 30vh;
} */
video{
    position: relative;
    padding: 3%;
    width: 100%;
    height: auto;
}
#rachel_cover{
    position: relative;
    top: 10%;
    padding: 3%;
    /* width: auto;
    height: 40%; */

    width: 100%;
    height: auto;
}
#tempo_cover{
    position: relative;
    top: 10%;
    padding: 3%;
    /* width: auto;
    height: 40%; */

    width: 100%;
    height: auto;
}
h3{
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.row1{
    padding-top: 2%;
}
.row2{
    padding-top: 2%;
}
.image{
    width: 100%;
    height: auto;
}
.image5{
padding: 5%;
    height: auto;
    width: 100%;
    transition: transform .8s;
}
.image5:hover{
    transform: scale(1.2);
}
.image6{
    padding: 5%;
    height: auto;
    width: 100%;
    transition: transform .8s;
}
.image6:hover{
    transform: scale(1.2);
}
.image7{
    padding: 5%;
    height: auto;
    width: 100%;
    transition: transform .8s;
}
.image7:hover{
    transform: scale(1.2);
}
.image8{
    padding: 5%;
    height: auto;
    width: 100%;
    transition: transform .8s;
}
.image8:hover{
    transform: scale(1.2);
}
#code{
    margin-left: -15%;
}
/* .container{
    background-color: rgba(247, 247, 247, 0.856);
}   */
.btns{
    margin-left: 5%;
}
hr.code{
margin-left: -0.1px;
}

hr{
    width: 65%;
}
h3{
    transition: transform .8s;
}
h3:hover{
    transform: scale(1.1);
}
.imageRow{
    margin-top: -40%;
}
.moreBtn{
    margin-top: -2%;
}
#info-card{
    margin-top: 8%;
}
.modal{
    margin-top: 8%!important;
}