<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../assets/img/europe.jpg" class="euro_image">
        </div>
        <div class="col-lg-6">
            <div id="euroWork">
                <ul>
                        <li>Dublin, Ireland</li>
                        <h5>Sogeti Ireland</h5>
                        <p>I am currently working as a digital consultant in Sogeti Ireland.</p>
                
                        <li>Galway, Ireland</li>
                        <h5>G-Counter</h5>
                        <p>Chef</p>
                        <h5>Meteor/Eircom Telecoms</h5>
                        <p>Retail consultant</p>
                        <h5>Oasis Retail</h5>
                        <p>Retail consultant</p>

                </ul>
            </div>
            <div id="euroTravel">
                <ul>
                    <li>UK</li>
                    <li>Spain</li>
                    <li>Germany</li>
                    <li>Italy</li>
                    <li>Belgium</li>
                    <li>Andora</li>
                </ul>
            </div>
        </div>
    </div>
</div>