<app-scroll></app-scroll>
<div class="container">
  <div id="navbar">
  <app-navbar></app-navbar>
</div>
<div class="row" id="nav_btns">
  <div class="col-sm-6 btns">
      <a [routerLink]="['/']"><span>Projects</span></a>
     <a [routerLink]="['/skills']"> <span>Skills</span></a>
     <a [routerLink]="['exp']"> <span>Previous Exp</span></a>
  </div>
</div>
    <div class="row">
      <app-about-me></app-about-me>
    </div> 
  </div>  
  <div class="projects">
  <div class="container">
    <div class="row projectRow">
      <app-projects></app-projects>
    </div>
  </div>
</div>


