#navbar{
    z-index: 20000;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    background: rgba(255, 255, 255, 0.856);
}
div.projects{ 
    background-color: rgba(245, 245, 245, 0.856);
}
.projectRow{
    padding-top: 5%;
    padding-bottom: 3%;
}
#nav_btns{
    display: none;
    position: relative;
    left: 35%;
    top: 20%;
    
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
    padding: 3%; 
}

@media only screen and (max-width: 990px){
    div.projects{
        margin-top: 95%;
    }
}
@media only screen and (max-width: 575px){
    #navbar{
        display: none;
    }
    div.projects{
        margin-top: 500%;
    }
    #nav_btns{
        display: block;
    }
}