#qr_code{
    position: absolute;
    left: 40%;
    top: 30%;
}
#enter{
    position: absolute;
    left: 31%;
    top: 35%; 
}
button{
    position: absolute;
    left: 34%;
}
div.container-fluid{
    height: 100vh;
    background-color: black;
}
h1{
    text-align: center;
color: white;
}
h2{
    text-align: center;
    color: white;
}