<div class="timeline-container">

    <div class="left text-wrapper">
        <div class="text">
            <h3>Angular</h3>
            <li>
                <ul>Ordering App</ul>
                <ul>Internship Project</ul>
                <ul>Styled by Rachel</ul>
                <ul>Tempo Antiques</ul>
            </li>
        </div>
    </div>

    <div class="right text-wrapper">
        <div class="text">
            <h3>.Net Framework</h3>
            <li>
                <ul>Internship Project</ul>
                <ul>College assignments</ul>
            </li>
        </div>

        <div class="left text-wrapper">
                <div class="text">
                    <h3>Spring/Java</h3>
                    <li>
                        <ul>Ordering App</ul>
                        <ul>College assignments</ul>
                    </li>
                </div>
            </div>
        
            <div class="right text-wrapper">
                <div class="text">
                    <h3>SQL</h3>
                    <li>
                        <ul>Data migration project</ul>
                        <ul>Internship Project</ul>
                        <ul>Ordering App</ul>
                        <ul>College assignments</ul>
                    </li>
                </div>
    </div>

</div>