.exp{
    margin-top: 18%;
}
#angular{
    position: sticky;
    z-index: 40000;
    top: 5rem;
}
#net{
    position: sticky;
    z-index: 40000;
    top: 5rem;
}
#spring{
    position: sticky;
    z-index: 40000;
    top: 5rem;
}
#sql{
    position: sticky;
    z-index: 40000;
    top: 5rem;
}
.btns{
    margin: 7%;
    padding: 2%;
    color: black;
    border-radius: 70px;
    border-width: 2px;
    background-color:white!important;
    border-color: black!important;
    border-style: solid!important; 
}