<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <img src="../assets/img/giraffe.jpg" class="africa">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>   
        <div class="col-lg-8">
            <p>
                    In 2013 I went on a three week volunteer project with 7 other students and 2 leaders. We went with Serve in Solidarity, Ireland. Our project in Zambia had 3 aspects. We helped work on a farm in rural southern Zambia helping to build a piggery and work on the land. We also painted and redone three classrooms in the neighbouring school to where we were staying in Mazabuka. And thirdly we worked with the youth holding workshops, sports days and girls nights. We also lived for the main part of the project in a house with 8 boys and two guys who minded them.
            </p>
            <br>
            <!-- <video class="video-fluid" controls="true">
                <source src="../assets/img/zambiaVideo.mp4" type="video/mp4" />
            </video> -->
        </div>
    </div>
</div>    