<div class="timeline-container">

    <div class="left text-wrapper">
        <div class="text">
            <a (click)="showAngular()">
                <h3>Angular</h3>
            </a>
                <ul>Ordering App</ul>
                <ul>Internship Project</ul>
                <ul>Styled by Rachel</ul>
                <ul>Tempo Antiques</ul>
        </div>
    </div>

    <div class="right text-wrapper">
        <div class="text">
            <a (click)="showNet()">
                <h3>.Net Framework</h3>
                </a>
                    <ul>Internship Project</ul>
                    <ul>College assignments</ul>
        </div>
    </div>
    <div class="left text-wrapper">
        <div class="text">
            <a (click)="showSpring()">
                <h3>Spring/Java</h3>
            </a>
                <ul>Ordering App</ul>
                <ul>College assignments</ul>
        </div>
    </div>

    <div class="right text-wrapper">
        <div class="text">
            <a (click)="showSql()">
                <h3>SQL</h3>
            </a>
                <ul>Data migration project</ul>
                <ul>Internship Project</ul>
                <ul>Ordering App</ul>
                <ul>College assignments</ul>
        </div>
    </div>

</div>