<div class="container">
    <div class="row" id="image_btns">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <a (click)="showAmerica()"><img src="../assets/img/America.PNG" class="map_logos"></a>
                </div>
                <div class="col-sm-6">
                    <a (click)="showEurope()"><img src="../assets/img/europe.png" class="map_logos"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <a (click)="showAfrica()"><img src="../assets/img/Africa.PNG" class="map_logos"></a>
                </div>
                <div class="col-sm-6">
                    <a (click)="showAus()"><img src="../assets/img/Australia.PNG" class="map_logos"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="text_btns">
            <div class="col-sm-12">
                    <a (click)="showAmerica()"><span>America</span></a>
                    <a (click)="showEurope()"> <span>Europe</span></a>
                    <a (click)="showAfrica()"> <span>Africa</span></a> 
                    <a (click)="showAus()"> <span>Australia</span></a>
            </div>    
        </div>
    <div class="row">
        <div [@fadeIn]='currentState' id="africa">
            <app-africa></app-africa>
        </div>
        <div [@fadeIn]='currentState2' id="europe">
            <app-europe></app-europe>
        </div>
        <div [@fadeIn]='currentState3' id="america">
            <app-usa></app-usa>
        </div>
        <div [@fadeIn]='currentState4' id="aus">
            <app-aus></app-aus>
        </div>
    </div>
</div>