<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/america.png" class="map_logos">                    
                </div>
                <div class="col-sm-6">
                    <img src="../assets/img/europe.png" class="map_logos">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../assets/img/africa.png" class="map_logos">
                </div>
                <div clas="col-sm-6">
                    <img src="../assets/img/australia.png" class="map_logos">
                </div>
            </div>
        </div>
    </div>
</div>