.map_logos{
    position: relative;
    left: 25%;
    top: 40%;
    width: 100px;
    height: auto;
    transition: transform .8s;
}
.map_logos:hover{
transform: scale(1.1);
}
#africa{
    position: absolute;
    top: 50%;
}
#europe{
    position: absolute;
    top: 50%;
}
#america{
    position: absolute;
    top: 50%;
}
#aus{
    position: absolute;
    top: 50%;
}
#text_btns{
    display: none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
    padding: 3%; 
}
span{
    padding: 5%;
    text-align: center;
}
@media only screen and (max-width: 575px){
    #text_btns{
        display: block;
    }
    #image_btns{
        display: none;
    }
}