#navbar{
        z-index: 20000;
        position: sticky;
        position: -webkit-sticky;
        top: 0%;
        background: rgba(255, 255, 255, 0.856);
}
#nav_btns{
    display: none;
    position: relative;
    left: 15%;
    top: 20%;
    
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
    padding: 3%; 
}

@media only screen and (max-width: 575px){
    #navbar{
        display: none;
    }
    #nav_btns{
        display: block;
    }
}