<nav class="navbar-light">
    <div class="row">
      <div class="col-sm-2">
      <button class="navbar-toggler" type="button" (click)="showNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
<div class="col-sm-6 btns">
  <div id="buttons" [@fadeIn]='currentState'>
    <a [routerLink]="['/']"><span>Projects</span></a>
   <!-- <a [routerLink]="['/skills']">  -->
    <a href="https://api.instagram.com/oauth/authorize/?app_id=521641655232804&redirect_uri=https%3A%2F%2Flocalhost%3A4200%2Fskills&scope=user_profile,user_media&response_type=code"><span>Skills</span></a>
   <a [routerLink]="['exp']"> <span>Previous Exp</span></a>
  </div>
</div>
<div class="col-sm-4 links" [@fadeIn]='currentState'>
    <a class="nav-link waves-effect waves-light" href="../assets/Orla_Coleman_Resume.pdf" download>
        <i class="fas fa-envelope-open-text"></i>
      </a>
      <a class="nav-link waves-effect waves-light" href="https://github.com/OrlaColeman/Website-Project">
        <i class="fab fa-github"></i>
      </a>
      <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/orlaithcoleman/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/orla-coleman-244280172/">
        <i class="fab fa-linkedin"></i>
      </a>
</div>
</div>
</nav>